@model IEnumerable<ITS.Retail.Model.CompanyNew>
@using ITS.Retail.ResourcesLib;  

@section HeaderScriptsAndStyles {
    <script src="@Url.Content("~/Scripts/scripts/Company.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/Profile.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/OwnerApplicationSettings.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/EditCompany.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/NewCompany.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/scripts/EditSupplier.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
}

@{
    ViewBag.Title = Resources.Company;
    ViewBag.EnableDevexpressHtmlEditor = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "FilterPanel";
    settings.ControlStyle.CssClass = "FilterPanel";
    settings.HeaderText = Resources.SearchFilters;
    settings.SetContent(() =>
    {
        Html.RenderPartial("FilterButtons");
        
        ViewContext.Writer.Write("<ul class='simpleForm'><li>");

        ViewContext.Writer.Write("<label for=\"supplier_code_I\">" + Resources.Code + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "supplier_code";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"supplier_name_I\">" + Resources.CompanyName + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "supplier_name";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"supplier_tax_number_I\">" + Resources.TaxCode + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "supplier_tax_number";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</li><li>");

        ViewContext.Writer.Write("<label for=\"is_active_I\">" + Resources.Active + "</label>");

        @Html.DevExpress().ComboBox(combosettings =>
        {
            combosettings.Name = "is_active";
            combosettings.Properties.Items.Add("", -1);
            combosettings.Properties.Items.Add(Resources.Yes, 1);
            combosettings.Properties.Items.Add(Resources.No, 0);
            combosettings.ControlStyle.CssClass = "search_filter";
            combosettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"FcreatedOn_I\">" + Resources.NewSuppliersFrom + "</label>");

        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Properties.EditFormat = EditFormat.DateTime;
            deSettings.Name = "FcreatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"FupdatedOn_I\">" + Resources.Updated + "</label>");

        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Properties.EditFormat = EditFormat.DateTime;
            deSettings.Name = "FupdatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();
        ViewContext.Writer.Write("</li></ul>");
        @Html.DevExpress().Button(
            settings2 =>
            {
                settings2.Name = "btnSearch";
                settings2.Text = Resources.Search;
                settings2.UseSubmitBehavior = true;
                settings2.ClientSideEvents.Click = "Component.SearchSupplier";
            }
        ).GetHtml();            
    });
}).GetHtml()

@Html.Partial("../Shared/PopupViewCallbackPanel")
@Html.Partial("../Shared/PopupEditCallbackPanel")
@Html.Partial("../Supplier/PopupAssosiatedEditCallbackPanel")

@{
    ViewContext.Writer.Write("<div class='buttonGridContainer'>");
    Html.DevExpress().Button(s =>
    {
        s.Name = "btShowCustomizationWindow";
        s.ControlStyle.CssClass = "btCustomizationWindow";
        s.Text = "";
        s.ControlStyle.BackgroundImage.ImageUrl = Url.Content("~/Content/img/ColumnCustomization.png?v=" + ViewData["ApplicationVersionNumber"]);
        s.ToolTip = Resources.CustomizeColumns;
        s.ClientSideEvents.Click = "function(s,e){UpdateCustomizationWindowVisibility(grdCompany)}";
    }).GetHtml();
    ViewContext.Writer.Write("</div>");
}
@Html.Partial("Grid", Model)



