@using ITS.Retail.ResourcesLib



<div class="row page">
    @{
        <div class="page-header title col-md-12">
            <h1 class="text-center">@Resources.UpdatePassword</h1>
        </div>
         Html.RenderPartial("../Shared/ProfileMenu");
           
    }

   
    <div class="col-sm-9">
        @using (Ajax.BeginForm("ChangePassword", new { Controller = "User" }, new AjaxOptions
        {
                HttpMethod = "POST",
                OnComplete = "User.ChangePasswordOnComplete",
                UpdateTargetId = "ResetPasswordCallbackPanel",//InsertionMode = InsertionMode.Replace
        }))
        {
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>@Resources.Password</label>
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "OldPassword";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Properties.Password = true;
                        }).GetHtml()
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>@Resources.NewPassword</label>
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "ResetPassword";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Properties.Password = true;
                        }).GetHtml()
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>@Resources.ConfirmPassword</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "ConfirmResetPassword";
                                settings.Properties.Password = true;
                                settings.ControlStyle.CssClass = "form-control";
                            }).GetHtml()
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "SubmitChangePassword";
                                settings.Text = Resources.ChangePassword;
                                settings.ControlStyle.CssClass = "light-blue-button";
                                settings.Height = 40;
                                settings.UseSubmitBehavior = true;
                            }).GetHtml()
                    </div>
                </div>
            </div>
        }
    </div>

</div>   