@model IEnumerable<ITS.Retail.Model.Customer>
@using ITS.Retail.ResourcesLib;
@{
    ViewBag.ShowSettings = true;
    ViewBag.Title = Resources.GDPRExport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderScriptsAndStyles {

    <script src="@Url.Content("~/Scripts/scripts/GDPR.js?ver="+ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/Profile.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/EditCustomer.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>

}


@Html.Partial("../Shared/PopupViewCallbackPanel")
@Html.Partial("../Shared/PopupEditCallbackPanel")
@Html.Partial("PopupAssosiatedEditCallbackPanel")
@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "FilterPanel";
    settings.ControlStyle.CssClass = "FilterPanel";
    settings.HeaderText = Resources.SearchFilters;
    settings.SetContent(() =>
    {
        Html.RenderPartial("FilterButtons");
        ViewContext.Writer.Write("<ul class='simpleForm'><li>");

        ViewContext.Writer.Write("<label for=\"customer_code_I\">" + Resources.Code + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "customer_code";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"card_id_I\">" + Resources.CardID + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "card_id";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"customer_name_I\">" + Resources.CompanyName + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "customer_name";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"customer_tax_number_I\">" + Resources.TaxCode + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Name = "customer_tax_number";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</li><li>");

        ViewContext.Writer.Write("<label for=\"is_active_I\">" + Resources.Active + "</label>");

        @Html.DevExpress().ComboBox(combosettings =>
        {
            combosettings.Name = "is_active";
            combosettings.Properties.Items.Add("", null);
            combosettings.Properties.Items.Add(Resources.Yes, true);
            combosettings.Properties.Items.Add(Resources.No, false);
            combosettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
            combosettings.ControlStyle.CssClass = "search_filter";
        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"FcreatedOn_I\">" + Resources.NewCustomersFrom + "</label>");

        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Properties.EditFormat = EditFormat.DateTime;
            deSettings.Name = "FcreatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();

        ViewContext.Writer.Write("<label for=\"FupdatedOn_I\">" + Resources.Updated + "</label>");

        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Properties.EditFormat = EditFormat.DateTime;
            deSettings.Name = "FupdatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();

        ViewContext.Writer.Write("</li></ul>");
        @Html.DevExpress().Button(
           settings2 =>
           {
               settings2.Name = "btnSearch";
               settings2.Text = Resources.Search;
               settings2.UseSubmitBehavior = true;
               settings2.ClientSideEvents.Click = "Component.ClearAllowedItemsAndSearch";
           }
       ).GetHtml();
    });
}).GetHtml()

@{
            ViewContext.Writer.Write("<div class='buttonGridContainer'>");
            Html.DevExpress().Button(s =>
            {
                s.Name = "btShowCustomizationWindow";
                s.ControlStyle.CssClass = "btCustomizationWindow";
                s.Text = "";
                s.ControlStyle.BackgroundImage.ImageUrl = Url.Content("~/Content/img/ColumnCustomization.png?v=" + ViewData["ApplicationVersionNumber"]);
                s.ToolTip = Resources.CustomizeColumns;
                s.ClientSideEvents.Click = "function(s,e){UpdateCustomizationWindowVisibility(grdGDPRAnonymizeCustomer)}";
            }).GetHtml();

            ViewContext.Writer.Write("</div>");
}



@Html.Partial("CustomerAnonymizeGrid", Model)

@Html.Partial("../VariableValuesDisplay/VariableValuesPopUp")