@model IEnumerable<ITS.Retail.Model.Item>

@section HeaderScriptsAndStyles {
    <script src="@Url.Content("~/Scripts/scripts/Item.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    @if (ITS.Retail.WebClient.MvcApplication.ApplicationInstance != eApplicationInstance.RETAIL)
    {
        <script src="@Url.Content("~/Scripts/scripts/LabelsPrintingCommon.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/ItemNonMaster.css")" />
    }

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Item.css")" />


    <script src="@Url.Content("~/Scripts/scripts/Resources_" + ViewData["CurrentCulture"] + ".js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/scripts/EditItem.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
}


@using ITS.Retail.ResourcesLib;
@{
    ViewBag.Title = Resources.Items;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "FilterPanel";
    settings.ControlStyle.CssClass = "FilterPanel";
    settings.HeaderText = Resources.SearchFilters;
    settings.SetContent(() =>
    {
        Html.RenderPartial("FilterButtons");
        ViewContext.Writer.Write("<table><tr><td>");

        ViewContext.Writer.Write("<label for=\"Fcode_I\">" + Resources.Code + ":" + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            textsettings.Name = "Fcode";
            textsettings.Text = "";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
            textsettings.ControlStyle.CssClass = "search_filter";
        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");
        ViewContext.Writer.Write("<label for=\"Fname_I\">" + Resources.ItemName + ":" + "</label>");


        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            textsettings.Name = "Fname";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");

        ViewContext.Writer.Write("<label for=\"Fbarcode_I\">" + Resources.Barcode + ":" + "</label>");

        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            textsettings.Name = "Fbarcode";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");
        ViewContext.Writer.Write("<label for=\"FitemSupplier_I\">" + Resources.ItemSupplier + ":" + "</label>");


        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            textsettings.Name = "FitemSupplier";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</td></tr><tr><td>");

        ViewContext.Writer.Write("<label for=\"FcreatedOn_I\">" + Resources.InsertedDateFilter + ":" + "</label>");


        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            deSettings.Properties.EditFormat = EditFormat.Date;
            deSettings.Name = "FcreatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");

        ViewContext.Writer.Write("<label for=\"FupdatedOn_I\">" + Resources.UpdatedOnFilter + ":" + "</label>");

        @Html.DevExpress().DateEdit(deSettings =>
        {
            deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            deSettings.Properties.EditFormat = EditFormat.DateTime;
            deSettings.Name = "FupdatedOn";
            deSettings.ControlStyle.CssClass = "search_filter";
            deSettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");


        ViewContext.Writer.Write("<label for=\"Fseasonality_I\">" + Resources.Seasonality + ":" + "</label>");


        @Html.DevExpress().ComboBox(combosettings =>
        {
            combosettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            combosettings.Name = "Fseasonality";
            combosettings.ControlStyle.CssClass = "search_filter";
            combosettings.Properties.ValueType = typeof(Guid);
            combosettings.Properties.ValueField = "Oid";
            combosettings.Properties.TextField = "Description";
            combosettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";


            combosettings.Properties.ClientSideEvents.ButtonClick = "clearComboBox";
            var button = new EditButton(" ");
            button.Image.Url = Url.Content("~/Content/img/del.png?ver=" + ViewData["ApplicationVersionNumber"]);
            button.Image.AlternateText = Resources.Clear;
            combosettings.Properties.Buttons.Add(button);
        }).BindList(ViewBag.Seasonality).GetHtml();


        ViewContext.Writer.Write("</td><td>");

        ViewContext.Writer.Write("<label for=\"Fmothercode_I\">" + Resources.MotherCode + ":" + "</label>");


        @Html.DevExpress().TextBox(textsettings =>
        {
            textsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            textsettings.Name = "Fmothercode";
            textsettings.Text = "";
            textsettings.ControlStyle.CssClass = "search_filter";
            textsettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
        }).GetHtml();

        ViewContext.Writer.Write("</td></tr><tr><td>");

        ViewContext.Writer.Write("<label for=\"Factive_I\">" + Resources.IsActive + ":" + "</label>");


        @Html.DevExpress().ComboBox(combosettings =>
        {
            combosettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            combosettings.Name = "Factive";
            combosettings.Properties.Items.Add("", -1);
            combosettings.Properties.Items.Add(Resources.Yes, 1);
            combosettings.Properties.Items.Add(Resources.No, 0);
            combosettings.ControlStyle.CssClass = "search_filter";
            combosettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

        }).GetHtml();


        ViewContext.Writer.Write("</td><td>");
        ViewContext.Writer.Write("<label for=\"Fbuyer_I\">" + Resources.Buyer + ":" + "</label>");


        @Html.DevExpress().ComboBox(combosettings =>
        {
            combosettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            combosettings.Name = "Fbuyer";
            combosettings.Properties.ValueType = typeof(Guid);
            combosettings.Properties.ValueField = "Oid";
            combosettings.Properties.TextField = "Description";
            combosettings.ControlStyle.CssClass = "search_filter";
            combosettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";

            combosettings.Properties.ClientSideEvents.ButtonClick = "clearComboBox";
            var button = new EditButton(" ");
            button.Image.Url = Url.Content("~/Content/img/del.png?ver=" + ViewData["ApplicationVersionNumber"]);
            button.Image.AlternateText = Resources.Clear;
            combosettings.Properties.Buttons.Add(button);
        }).BindList(ViewBag.Buyers).GetHtml();


        ViewContext.Writer.Write("</td><td>");

        @Html.DevExpress().Button(btnsettings =>
        {
            btnsettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            btnsettings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
            btnsettings.Name = "btnCategories";
            btnsettings.Text = Resources.Category;
            btnsettings.ClientSideEvents.Click = "function(s,e){ pcCategoriesPopup.Show() }";
        }).GetHtml();

        @Html.DevExpress().Label(labelsetings =>
        {
            labelsetings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            labelsetings.Name = "categoryfilterid";
            labelsetings.ClientVisible = false;
            labelsetings.Text = "";
        }).GetHtml();

        ViewContext.Writer.Write("</td><td>");

        @Html.DevExpress().Label(labelsetings =>
        {
            labelsetings.Name = "categoryfiltertext";
        }).GetHtml();
        ViewContext.Writer.Write("</td><td>");
        ViewContext.Writer.Write("<img class='clearbtn' id='btnClearCategories' src='" + Url.Content("~/Content/img/clear.png?ver=" + ViewData["ApplicationVersionNumber"]) + "' alt='" + Resources.Clear + "' title='" + @Resources.Clear + "'/>");

        ViewContext.Writer.Write("</td></tr>");

        ViewContext.Writer.Write("<tr> <td>");

        ViewContext.Writer.Write("<label for=\"DoesNotAllowDiscount\">" + Resources.DoesNotAllowDiscount + ":" + "</label>");
        ViewContext.Writer.Write("</td>");

        ViewContext.Writer.Write("<td>");
        @Html.DevExpress().CheckBox(combosettings =>
        {
            combosettings.Name = "DoesNotAllowDiscount";
            combosettings.ControlStyle.CssClass = "editor display-table custom-checkbox-height";
            combosettings.Width = System.Web.UI.WebControls.Unit.Percentage(50);
            combosettings.Properties.AllowGrayed = true;
            combosettings.Properties.ValueGrayed = null;
            combosettings.Properties.ValueUnchecked = false;
            combosettings.Properties.ValueType = typeof(bool);
            combosettings.Properties.ValueChecked = true;

        }).GetHtml();
        ViewContext.Writer.Write("</td>");

        ViewContext.Writer.Write("</td></tr></table>");

        @Html.DevExpress().Button(btnsettings =>
        {
            btnsettings.Name = "btnSearch";
            btnsettings.Text = Resources.Search;
            btnsettings.ClientSideEvents.Click = "SearchItem";
        }).GetHtml();

    });
}).GetHtml()


@{
    ViewContext.Writer.Write("<div class='buttonGridContainer'>");
    Html.DevExpress().Button(s =>
    {
        s.Name = "btShowCustomizationWindow";
        s.ControlStyle.CssClass = "btCustomizationWindow";
        s.Text = "";
        s.ControlStyle.BackgroundImage.ImageUrl = Url.Content("~/Content/img/ColumnCustomization.png?v=" + ViewData["ApplicationVersionNumber"]);
        s.ToolTip = Resources.CustomizeColumns;
        s.ClientSideEvents.Click = "function(s,e){UpdateCustomizationWindowVisibility(grdItems)}";
    }).GetHtml();

    ViewContext.Writer.Write("</div>");
}

@Html.Partial("../Shared/PopupViewCallbackPanel")

@Html.Partial("../Shared/PopupEditCallbackPanel")

@Html.Partial("Grid", Model)

@Html.Partial("ItemCategoriesPopup")
