@using System.Web.Optimization;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    @Scripts.Render("~/bundles/editdocumentextras.js")

    @*@section HeaderScriptsAndStyles {
        <script src="@Url.Content("~/Scripts/scripts/DocumentRC.js")" type="text/javascript"></script>
    }*@

        using (Ajax.BeginForm(actionName: "Grid", controllerName: "Document", ajaxOptions: new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DocumentGridDiv",
            OnBegin = "UpdateDocumentGridForm",
            OnSuccess = "Document.grdOnEndCallback"
        }))
        {
            Html.DevExpress().RoundPanel(settings =>
              {
                  settings.Name = "FilterPanel";
                  settings.ControlStyle.CssClass = "FilterPanel";
                  settings.HeaderText = Resources.SearchFilters;
                  settings.SetContent(() =>
                  {
                      Html.RenderPartial("FilterButtons");
                                            
                      ViewContext.Writer.Write( Html.Hidden("typecombo_VI", BaseController.EffectiveOwner.OwnerApplicationSettings.PointsDocumentTypeOid) );
                      ViewContext.Writer.Write( Html.Hidden("seriescombo_VI", BaseController.EffectiveOwner.OwnerApplicationSettings.PointsDocumentSeriesOid) );
                      ViewContext.Writer.Write(Html.Hidden("Mode", BaseController.EffectiveOwner.OwnerApplicationSettings.PointsDocumentType.Division.Section));

                      ViewContext.Writer.Write("<label for=\"DocumentCustomerFilter_I\" >" + Resources.Customer + "</label>");
                      Html.RenderPartial("DocumentCustomerFilter");

                      ViewContext.Writer.Write("<label for=\"Fromdate_I\" >" + Resources.Date + " " + Resources.From + "</label>");

                      DateTime from = new DateTime();
                      DateTime to = new DateTime();
                      DateTime now = DateTime.Now;
                      from = new DateTime(now.Year, now.Month, now.Day, 0, 0, 0).AddMilliseconds(1);
                      to = from.AddDays(1).AddMilliseconds(-1);
                      to = to.AddMilliseconds(-1);

                      Html.DevExpress().DateEdit(datesettings =>
                      {
                          datesettings.Name = "Fromdate";
                          datesettings.ControlStyle.CssClass = "search_filter";
                          datesettings.Properties.EditFormat = EditFormat.Date;
                          datesettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
                      }).Bind(from.Date).GetHtml();


                      ViewContext.Writer.Write("<label for=\"FromDateTime_I\" >" + Resources.TimePeriod + " " + Resources.From + "</label>");

                      Html.DevExpress().TimeEdit(datesettings =>
                      {
                          datesettings.Name = "FromDateTime";
                          datesettings.ControlStyle.CssClass = "search_filter";
                          datesettings.Properties.EditFormat = EditFormat.Time;
                          datesettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
                          datesettings.Properties.EditFormatString =
                          datesettings.Properties.DisplayFormatString = "HH:mm:ss";
                      }).Bind(from).GetHtml();

                      ViewContext.Writer.Write("<label for=\"todate_I\" >" + Resources.Date + " " + Resources.To + "</label>");

                      @Html.DevExpress().DateEdit(datesettings =>
                      {
                          datesettings.Name = "todate";
                          datesettings.ControlStyle.CssClass = "editor search_filter";
                          datesettings.Properties.EditFormat = EditFormat.Date;
                          datesettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
                      }).Bind(to.Date).GetHtml();

                      ViewContext.Writer.Write("<label for=\"TodateTime_I\" >" + Resources.TimePeriod + " " + Resources.To + "</label>");

                      @Html.DevExpress().TimeEdit(datesettings =>
                      {
                          datesettings.Name = "ToDateTime";
                          datesettings.ControlStyle.CssClass = "search_filter";
                          datesettings.Properties.EditFormat = EditFormat.Time;
                          datesettings.Properties.ClientSideEvents.KeyPress = "Component.OnKeyPressFilters";
                          datesettings.Properties.EditFormatString =
                          datesettings.Properties.DisplayFormatString = "HH:mm:ss";
                      }).Bind(to).GetHtml();

                      Html.DevExpress().Button(btnsettings =>
                      {
                          btnsettings.Name = "btnSearch";
                          btnsettings.Text = Resources.Search;
                          btnsettings.ClientEnabled = true;
                          btnsettings.UseSubmitBehavior = true;
                      }).GetHtml();

                  });
              }).GetHtml();
        }
    }

<div id="DocumentGridDiv">
    @Html.Partial("Grid")
</div>

@Html.Partial("DialogCallbackPanelSecondary")

@Html.Partial("../Document/TransformationPopup")

@Html.Partial("../Shared/PopupViewCallbackPanel")

@Html.Partial("../Shared/PopupEditCallbackPanel")